html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: seashell;
    background-color: black;
    align-content: space-between;
    background-image: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body > * {
    flex: 1 100%;
}

header {
    height: 12vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px seashell;
    font-size: 4vw;
    width: 40%;
    user-select: none;
}

.navbar {
    overflow: hidden;
    user-select: none;
}

.navbar ul {
    height: 6vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    margin-top: 6vw;
    padding: 0;
}
  
.navbar li {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

@media(hover: hover) and (pointer: fine) {
    .navbar li:hover {
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        border-top: dotted 1px seashell;
        border-left: dotted 1px seashell;
        border-right: dotted 1px seashell;
    }  
}

.unclicked {
    border-bottom: solid 1px seashell;
}

.clicked {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-top: solid 1px seashell;
    border-left: solid 1px seashell;
    border-right: solid 1px seashell;
    border-bottom: none;
    pointer-events: none;
}

.content {
    height: fit-content;
}

.home {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    height: fit-content;
    width: 60vw;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 2vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5vw
}

.footer {
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-top: solid 1px seashell;
    background-color: rgba(0, 0, 0, 0.85);
}