html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body > * {
    flex: 1 100%;
}

header {
    height:fit-content;
}

.navbar {
    height:fit-content;
    overflow: hidden;
    background-color: black;
}

.navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
  
.navbar li {
    display: flex;
    width: 33.3%;
    color: seashell;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 60px;
}

.navbar li:hover {
    background: seashell;
    color: black;
}